=========================================================
        {{ company_name }}
        Managed by Ansible

 Hostname    : {{ inventory_hostname }}
 Environment : {{ environment_name }}

 Unauthorized access is prohibited.
=========================================================
