groups:
  - name: node-alerts
    rules:

      - alert: NodeDown
        expr: up{job="node_exporter"} == 0
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "Node {{ '{{' }} $labels.instance {{ '}}' }} is down"

      - alert: HighMemoryUsage
        expr: >
          (
            1 -
            node_memory_MemAvailable_bytes /
            node_memory_MemTotal_bytes
          ) * 100 > 90
        for: 5m
        labels:
          severity: warning

      - alert: HighCPUUsage
        expr: >
          100 -
          (
            avg by(instance)
            (
              rate(node_cpu_seconds_total{mode="idle"}[5m])
            ) * 100
          ) > 85
        for: 5m
        labels:
          severity: warning
