[Unit]
Description=Loki Log Aggregation

After=network.target


[Service]

User=loki

ExecStart=/usr/local/bin/loki \
-config.file=/etc/loki/loki-config.yaml


Restart=always


[Install]

WantedBy=multi-user.target
